// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
/* Font icon class*/
.fa {
   font-family: "FontAwesome";
}
// Common page class
.page-content {
    
    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

// Each menu page style
.titleArea {
    margin: 0;
    padding: 15;
    background-color: #e1e1e1;
}
.optionsArea {
    margin: 0;
    padding-right: 5;
    padding-left: 5;
    padding-top: 5;
    padding-bottom: 10;

    font-size: 15;
    background-color: #e1e1e1;
}
.menuName {
    font-size: 30;
    font-weight: bold;
    color: #425582;
    width: 70%;
}
.deptName {
    font-size: 18;
    text-align: right;
    color: #425582;
    vertical-align: bottom;
    width: 30%;
}

.detailTitle {
    font-size: 13;
}

.detailContent {
    font-size: 13;
    padding-right: 15;
    padding-top: 3;
}

.borderContents{
    padding-bottom: 5;
}

.contents{
    border-bottom-width: 1;
    border-color: #d9d9de;
    padding: 10 6;
    font-size: 17;
    height: 100%;
}

.fa.icon{
    color: rgb(80, 144, 218);
}   

.title{
    font-weight: bold;
}

.eachGrid {
    vertical-align: middle;
    height: 100%;
}

.itemList {
    height: 100%;
}

.oneDateStyle {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: #425582;
    color: #ffffff;
    height: 30;
    padding-top: 0;
    padding-bottom: 0;
}

.twoDateStyle {
    margin: 0;
    width: 43.5%;
    background-color: #425582;
    color: #ffffff;
    height: 30;
    padding-top: 0;
    padding-bottom: 0;
}

/* Action bar*/
ActionBar .action-bar-title {
    horizontal-align: center;
}

